.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: #272727;
  border-radius: 20px;
}

.profile-success-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-color: #272727;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-family: 'Roboto';
  font-size: 20px;
  color: #6366f1;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-bio {
  font-family: 'Roboto';
  font-size: 14px;
  color: #2c364c;
  line-height: 1.5;
}

.profile-error-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.profile-failure-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}
