.nav-header {
  display: flex;
  justify-content: center;
  background-color: #2c364c;
  padding: 20px 0px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
}

.website-logo {
  width: 120px;
}

/* Mobile View */
.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-mobile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-bar-image {
  width: 30px;
  height: 30px;
}

.nav-bar-large-container {
  display: none;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }

  .nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .nav-menu-item {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #f1f5f9;
  }

  .logout-desktop-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background-color: #6366f1;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
  }
}

.nav-link {
  background-color: lightblue;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none; 
}

.nav-link:hover {
  background-color: deepskyblue;
}

.logout-desktop-btn:hover {
  background-color: #4f46e5;
  padding: 10px;
}
